NOTION_TOKEN=
NOTION_DATABASE_ID=
TARGET_SITE_DOMAIN=
DOC_ID_YEAR_MONTH=
ALLOWED_VISIBILITY=Public
PUBLISHABLE_STATUSES=Final
BRAND_TOKENS_JSON={"Your Brand":"YOURBRAND"}
DOCUMENT_TYPE_TOKENS_JSON={"Your Document Type":"TYPE"}
